.info-section {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 100px 350px;
  .info-box {
    width: 50%;
    border: 1px solid #dfe5e8;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title-icon {
      width: 80%;
      margin: 50px 70px 0 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 24px;
      letter-spacing: 1px;
      color: #3c3950;
      font-weight: 700;
    }

    .info-content {
      margin: 20px 50px;
      flex: 1;
      .info-box-title {
        font-size: 20px;
        font-weight: 700;
        color: #333;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        color: #5f727f;
        margin: 20px 20px;
      }
      .payment-icons {
        display: flex;
        flex-wrap: wrap;
        .payment-icon {
          width: 50px;
          height: 32px;
          background-color: #dfe5e8;
          margin: 20px;
        }
      }
    }
  }

  .shipping-methods {
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-left: 20px;
        font-size: 16px;
        padding: 10px 0;
        color: #5f727f;
        font-weight: 400;
        display: flex;
        align-items: center;
        .icon-check {
          margin-right: 10px;
          color: #00bcd4;
        }
      }
    }
  }
  .icon-credit-card::before {
    font-size: 48px;
    content: "\f09d";
    font-family: FontAwesome;
  }

  .icon-shipping::before {
    font-size: 48px;
    content: "\f0d1";
    font-family: FontAwesome;
  }

  .icon-check::before {
    content: "\f14a";
    font-family: FontAwesome;
  }
}
@media screen and (max-width: 768px) {
  .info-section {
    margin: 50px 0;
    padding: 0 20px;

    .info-box {
      .title-icon {
        margin: 20px 0 0 40px;
      }
      .info-content {
        margin: 0;
        padding: 0 20px;
      }
    }
  }
}
