@import "../colors.scss";
@import "./sidebar/aside";
@import "./gridContainer/gridContainer";
@import "./brandSection";
@import "./recommendProduct";
@import "./infoSection";
@import "./news";

.main-container {
  display: flex;
  padding: 100px 350px;
}
@media screen and (max-width: 768px) {
  .main-container {
    padding: 0;
    width: 100%;
    margin-top: 50px;
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .product-item {
      width: calc(100% - 20px);
      margin: 0 10px;
    }
  }

  .brand-section {
    .brand-section-content {
      .brand-logo {
        gap: 50px;
      }
    }
  }
}
