.recommended-product {
  padding: 100px 350px;
  background-color: #f0f3f2;
  gap: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .recommended-title {
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #3c3950;
    font-weight: 700;
  }
  .product-list-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    border: 1px solid #dfe5e8;
    position: relative;
    background-color: #fff;
    .p-l-i-image {
      width: 80px;
      height: 80px;
      background-color: #99a9b5;
      margin-right: 10px;
      position: relative;
      .discount-label {
        position: absolute;
        top: 15px;
        left: 60px;
        background-color: #00bcd4;
        color: white;
        border-radius: 50%;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 700;
      }
    }
    .p-l-i-info {
      padding: 0 10px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      p {
        margin: 5px;
        font-size: 14px;
        color: #5f727f;

        &:first-child {
          font-weight: 700;
        }
      }
      .fa {
        font-size: 14px;
        margin-top: 30px;
      }
      .fa-star {
        color: #a7a9aa;
      }
      .checked {
        color: #ffc107;
      }
      .title-and-cost {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .recommended-product {
    padding: 20px;
    display: block;
    .recommended-title {
    }
  }
}
