.bottom-footer {
  @include size(100%, 100px);
  position: absolute;
  bottom: 0%;
  box-shadow: inset 0px 1px 0px rgba(57, 64, 80, 0.75);
  background-color: $bg-black;
  @include flex-center(row, 0);
  color: $button-border-color;
  &-content {
    padding: 10px 350px;
    width: 100%;
    justify-content: space-between;
    @include flex-center(row, 0);
  }
  .social-media {
    cursor: pointer;
    display: flex;
    gap: 20px;
  }
  .bottom-action {
    cursor: pointer;
    display: flex;
    p {
      padding: 0 20px;
      border-right: 1px solid $bg-darker;

      &:last-child {
        border: none;
      }
    }
  }
}
