.slider-container {
  height: 400px;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(217, 153, 199, 1) 0%,
    rgba(207, 158, 180, 1) 11%,
    rgba(189, 102, 166, 1) 26%,
    rgba(175, 113, 153, 1) 40%,
    rgba(160, 106, 162, 1) 61%,
    rgba(163, 134, 178, 1) 78%,
    rgba(126, 154, 180, 1) 100%
  );
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1000;
    &:hover {
      cursor: pointer;
      background-color: #00bcd4;
    }
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .slide {
    min-width: 100%;
    display: none;
    align-items: center;
    text-align: right;
    color: #ffffff;
    .slider-content {
      padding: 10px 350px;
      .percent {
        font-size: 100px;
        font-weight: 700;
        letter-spacing: 5px;
      }

      .note {
        p {
          font-size: 24px;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .slider-container {
    height: 300px;

    .slide {
      .slider-content {
        padding: 10px 20px;
        text-align: center;
        .percent {
          font-size: 60px;
        }
        .note {
          p {
            font-size: 18px;
          }
        }
      }
    }
    .prev,
    .next {
      padding: 8px;
      font-size: 14px;
    }
  }
}
