.filter-section {
  margin-top: 60px;

  p {
    @include flex-center;
    @include text-style(16px, 0, $bg-black, 700);
    cursor: pointer;
    justify-content: space-between;

    .fa-chevron-down,
    .fa-chevron-up {
      margin-left: 10px;
    }
  }

  .price-filter {
    @include flex-center(column, 0);

    .button-priceRange {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .filter-button {
        background-color: $bg-white;
        padding: 5px 10px;
        border-radius: 3px;
        border: 2px solid $blue-color;
        @include text-style(14px, 1px, $blue-color, 700);

        &:hover {
          cursor: pointer;
          background-color: $blue-color;
          color: $bg-white;
        }
      }
      #price-range {
        @include flex-center;
        @include text-style(16px, 0, #99a9b5, 400);
        white-space: nowrap;
      }
    }
    #price-slider {
      width: 100%;
      margin: 10px 0;
    }
  }

  select {
    width: 100%;
    padding: 10px;
    border: 1px solid $border-color;
    cursor: pointer;

    &:hover {
      border-color: $blue-color;
    }
  }

  .recently-viewed {
    background-color: $background-color;
    .recent-item {
      @include flex-center;
      padding: 20px 10px;
      border: 1px solid $border-color;
      .item-image {
        @include size(60px, 60px);
        background-color: $bg-grey-light;
        margin-right: 10px;
        border-radius: 50%;
      }

      .item-info {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        p {
          margin: 0;
          font-size: 14px;
          color: #5f727f;

          &:first-child {
            font-weight: 700;
          }
        }
      }
      .fa-star {
        margin-bottom: 10px;
        color: $bg-grey-light;
      }
      .checked {
        color: $star;
      }
    }
  }

  .product-tag {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    .tag {
      background-color: rgba(153, 169, 181, 0);
      border: 1px solid $border-color;
      margin: 5px;
      padding: 5px;
    }
  }
  .featured-product {
    margin-top: 20px;
    .f-p-item {
      @include flex-center;
      margin: 20px 0;
      border: 1px solid $border-color;
      position: relative;
      .f-p-i-image {
        @include size(80px, 80px);
        background-color: $bg-grey-light;
        margin-right: 10px;
        position: relative;
        .discount-label {
          position: absolute;
          @include border-radius;
          @include text-style(12px, 0, $bg-white, 700);
          top: 15px;
          left: 60px;
          background-color: $blue-color;

          padding: 5px 10px;
        }
      }
      .f-p-i-info {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
          margin: 5px;
          font-size: 14px;
          color: #5f727f;

          &:first-child {
            font-weight: 700;
          }
        }
      }
    }
  }
}
