.search {
  margin-top: 60px;
  position: relative;
  display: flex;
  align-items: center;
  .search-input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 2px solid #dfe5e8;
  }
  .search-icon {
    position: absolute;
    right: 10px;
    pointer-events: none;
    color: #99a9b5;
  }
}
