.subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  .subtotal-title {
    font-size: 16px;
    line-height: 25px;
    color: #5f727f;
    font-weight: 400;
  }
  .subtotal-price {
    font-size: 24px;
    line-height: 37px;
    color: #3c3950;
    font-weight: 300;
  }
}
