.subtotal {
  @include flex-center;
  justify-content: space-between;
  margin-top: 30px;

  .subtotal-title {
    @include text-style(16px, 0, $font-muted, 400);
    line-height: 25px;
  }

  .subtotal-price {
    @include text-style(24px, 0, $font-muted, 300);
    line-height: 37px;
  }
}
