// Primary Colors
$primary-color: #3c3950;
$blue-color: #00bcd4;
$active-color: #ff0000;
$background-color: #f4f6f7;
$light-gray: #f9f9f9;
$gray: #666;
$dark-gray: #494c64;
$bg-grey-light: #b6c6c9;
$bg-darker: #394050;
$bg-black: #181828;
$bg-green-light: #d1edac;
$star: #ffc107;

// Font Colors
$font-dark: #3c3950;
$font-muted: #5f727f;
$bg-white: #ffffff;

// Border Colors
$border-color: #dfe5e8;

// Button Colors
$button-bg-color: #b6c6c9;
$button-hover-bg-color: #3c3950;
$button-border-color: #99a9b5;
