// Primary colors
$primary-color: #3c3950;
$blue-color: #00bcd4;
$active-color: #ff0000;
$background-color: #f4f6f7;

$light-gray: #f9f9f9;
$gray: #666;
$dark-gray: #494c64;
$border-color: #dfe5e8;

// Font colors
$font-dark: #3c3950;
$font-light: #ffffff;
$font-muted: #5f727f;

// Button colors
$button-bg-color: rgba(182, 198, 201, 0);
$button-hover-bg-color: #3c3950;
$button-border-color: #99a9b5;
