@import "./normalize.css";
@import "./Login/login";
@import "./Register/register";

body {
  font-family: "Montserrat";
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
